[Unit]
Description=Celery beat scheduler
After=local-fs.target network.target nss-lookup.target
#OnFailure=mail-unit-output@%n.service
PartOf=wptcelery.target

[Service]
Type=simple
WorkingDirectory=/home/wptsync
PrivateTmp=true
User=wptsync
Group=wptsync
EnvironmentFile=/home/wptsync/wptsync.env


ExecStart=/home/wptsync/venv/bin/celery beat --app sync.worker \
  --pidfile=${CELERYBEAT_PID_FILE} \
  --logfile=${CELERYBEAT_LOG_FILE} --loglevel=${CELERYBEAT_LOG_LEVEL}

ExecStop=/home/wptsync/stop-pid.sh ${CELERYBEAT_PID_FILE}

TimeoutStopSec=10

[Install]
WantedBy=wptcelery.target
